.pagination {
  display: inline-block;
}

.pagination button {
  color: rgb(190, 190, 190);
  float: left;
  padding: 5px 10px;
  text-decoration: none;
}

.pagination button.active {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #1a1a1a;
  text-decoration: none;
  border-color: #706f6f;
}

.btn:hover {
  background: #1d1d1d;
  text-decoration: none;
}